[submodule "rtems-source-builder"]
	path = src/rtems-source-builder
	url = https://gitlab.rtems.org/rtems/tools/rtems-source-builder.git
[submodule "rtems"]
	path = src/rtems
	url = git@github.com:slaclab/rtems.git
[submodule "rtems-libbsd"]
	path = src/rtems-libbsd
	url = https://gitlab.rtems.org/rtems/pkg/rtems-libbsd.git
[submodule "rtems-net-services"]
	path = src/rtems-net-services
	url = https://gitlab.rtems.org/rtems/pkg/rtems-net-services.git
[submodule "src/rtems-tools"]
	path = src/rtems-tools
	url = https://gitlab.rtems.org/rtems/tools/rtems-tools.git
[submodule "scripts"]
	path = tools
	url = git@github.com:JJL772/rtems-tools.git
